<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-5">
<div class="col" *ngFor="let foto of fotos">
  <div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" [src]="foto.download_url" alt="{{ foto.description }}">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis quam fugiat reiciendis repellat voluptas quae dolores nisi, facere officia, amet esse corrupti facilis ratione omnis voluptate! Ipsum, incidunt dolorum.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>
</div>